<template>
  <v-container>
    <v-parallax src="/images.jpeg">
      <v-list rounded style="background: none;">
          <v-list-item v-for="school in schoolScores" style="background: white;">
            <v-avatar>
              <img :src="school.profilePicture" />
            </v-avatar>
            <v-list-item-content>
              <v-list-item-title style="margin:0 15px">
                  {{school.displayName}} 
              </v-list-item-title>
              <v-list-item-subtitle style="margin:0 15px">
                {{school.town}}
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-list-item-action-text>
                <v-list-item-title>
                  {{school.score}}
                </v-list-item-title>
              </v-list-item-action-text>
            </v-list-item-action>
          </v-list-item>
      </v-list>
    </v-parallax>
  </v-container>
</template>

<script>
// @ is an alias to /src
import { db } from '@/db'


export default {
  name: 'home',
  data: () => ({
    schoolScores: [] 
  }),
  firestore: {
    schoolScores: db.collection('schoolScores').orderBy("score","desc"),
  },
}
</script>
