<template>
  <v-app>
    <v-app-bar app>
      <router-link to="/" style="margin:0 10px 0 0 ;">
        <v-img src="/l.jpg" />
	    </router-link>
      <v-toolbar-title class="headline">
	      <span>School</span>
	      <span class="font-weight-light">Scoreboard</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <router-link to="/admin">
        <v-btn text >
          <span class="mr-2">Admin</span>
        </v-btn>
      </router-link>
    </v-app-bar>

    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data: () => ({
    //
  }),
};
</script>
